{% extends "ride/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method="POST">
              {% csrf_token %}
                <fieldset class = "form-group">
                        <legend class = "border-bottom mb-4">Driver Info</legend>
                        {{u_form.as_p }}
                        {{p_form.as_p }}
                </fieldset>

		<p>
		  <label for = "agree">I agree to the terms and conditions </label>
		  <input id = "agree" name = "agree" type = "checkbox" required>
		</p>
		
                <div class = "form_group">
                        <button class = "btn btn-outline-info" type = "submit">Update</button>
                </div>
        </form>


    </div>
{% endblock content %}
