{% extends 'ride/base.html' %}
{% load mathfilters %}
{% block content %}

<p>
    Here is all the possible orders you can pick now!
</p>
<br>

<p>
    Please choose one and click the confirm button!
</p>
<br><br>

<table border="1">
    <!-- tr表示每一行， td表示每一个元素 -->
    <thead>
        <tr>
            <!-- tr表示table row， 指一行 -->
            <!-- th相当于是列表的头，告知这一列是什么元素 -->
            <th>Status</th>
            <th>Confirm</th>
            <th>Owner</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Total Passenger Number</th>
            <th>Owner's Passenger Number</th>
            <th>Share Or Not</th>
            <th>Type Requirement</th>
            <th>Special Requirement</th>
            <th>Sharer</th>
            <th>Sharer's numbers</th>
        </tr>
    </thead>

    <tbody>
        {% for ride in object_list %}
        <tr>
            <!-- td表示每一行里面的元素 -->
            <td>{{ ride.status }}</td>
            <td><a href="{% url 'driver-confirm' ride.id %}">Confirm</a></td>
            <td>{{ ride.owner.username }}</td>
            <td>{{ ride.addr }}</td>
            <td>{{ ride.arrive_date|date:"m/d/Y P" }}</td>
            <td>{{ ride.passenger_num }}</td>
            <td>{{ ride.passenger_num|sub:ride.share_num }}</td>
            <td>{{ ride.whether_share }}</td>
            <td>{{ ride.required_type }}</td>
            <td>{{ ride.required_special }}</td>
            <td>{{ ride.share_name }}</td>
            <td>{{ ride.share_num }}</td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}
