{% extends 'ride/base.html' %}
{% block content %}

<br>
<p>
    Here are all the possible rides you can pick now.
</p>
<p>
    Please choose one and click "join" button.
</p>
<br>

<table border="1">
    <!-- tr表示每一行， td表示每一个元素 -->
    <thead>
        <tr>
            <!-- tr表示table row， 指一行 -->
            <!-- th相当于是列表的头，告知这一列是什么元素 -->
            <th>Status</th>
            <th>Join</th>
            <th>Owner</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Owner's passenger Number</th>
            <th>Share Or Not</th>
            <th>Type Requirement</th>
            <th>Special Requirement</th>
        </tr>
    </thead>

    <tbody>
        {% for ride in object_list %}
        <tr>
            <!-- td表示每一行里面的元素 -->
            <td>{{ ride.status }}</td>
            <td><a href="{% url 'share-join' ride.id %}">Join</a></td>
            <td>{{ ride.owner.username }}</td>
            <td>{{ ride.addr }}</td>
            <td>{{ ride.arrive_date|date:"m/d/Y P" }}</td>
            <td>{{ ride.passenger_num }}</td>
            <td>{{ ride.whether_share }}</td>
            <td>{{ ride.required_type }}</td>
            <td>{{ ride.required_special }}</td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}
